body {
  background-color: #F0F8FF;
}
/*
#total {
  background-color: white;
  opacity: 0.5;
} */

/* #vis1 {
  opacity: 0.5;
}

#vis1:hover {
  opacity: 1;
} */

#carreidle {
 width:100px;
 height:100px;
 background:#F7F7F0;
 margin:10px auto;
}


#carresleep {
 width:100px;
 height:100px;
 background:#4D006C;
 margin:10px auto;
}

#carreclass {
 width:100px;
 height:100px;
 background:#F7F7F0;
 margin:10px auto;
}
