body {
  background-color: #F0F8FF;
}

circle {
  color: #4D006C;
}

#carreidle {
 width:30px;
 height:30px;
 background:#F7F7F0;
 margin:10px auto;
}

#carresleep {
 width:30px;
 height:30px;
 background:#4D006C;
 margin:10px auto;
}

#carreclass {
 width:30px;
 height:30px;
 background:#FAEC7F;
 margin:10px auto;
}
